@{
    ViewBag.Title = "Index";
}

<h1>Welcome to my lab 4 application</h1>
<h5>My name is Cao Thanh Nguyen Pham. I am in level 5 of Algonquin College</h5>
<p>This is such a funny lab to work with database</p>
